<!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Ayoola Oloyede</h4>
            <p><em>Innovative and hardworking undergraduate student skilled at developing user-centered software solutions from initial concept to final, polished deliverable.</em></p>
            <p>
            <ul>
              <li>ayo.oloyede16@gmail.com</li>
              <li>+(234) 8188157698</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Science in Mechanical Engineering</h4>
            <h5>2017 - Present</h5>
            <p><em>University of Lagos, Nigeria</em></p>
            <p>B.Sc in Mechanical Engineering(in-view)</p>
          </div>
          <div class="resume-item">
            <h4>Foundation in Mechanical Engineering</h4>
            <h5>2016 - 2017</h5>
            <p><em>University of Lagos, Nigeria</em></p>
            <ul>
              <li>Foundation in Mechanical Engineering, JUPEB programme</li>
              <li>Graduated with 16/16 points</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Mechanical Engineering Intern</h4>
            <h5>August 2020 - September 2020</h5>
            <p><em>Infi League Motorsports,Mumbai,India </em></p>
            <p>
            <ul>
              <li>Designed,developed and analyzed the roll-cage chassis of an ATV for agricultural use using SOLIDWORKS</li>
              <li>Collaborated with a team to discuss challenges and brainstorm on how to improve the design</li>
              <li>Conducted finite element analysis(FEA) on the model to ensure its safety using ANSYS</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Assistant Auditor(In-House Staff Intern)</h4>
            <h5>October 2018 - December 2018</h5>
            <p><em>Distance Learning Institute,UNILAG, Akoka-Yaba,Nigeria</em></p>
            <p>
            <ul>
              <li>Monitored various departments compliance with work ethics and regulations.</li>
              <li>Created thorough weekly reports of day-to-day activities of the various departments.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
